body {
    background-image: url("../images/what-the-hex-dark/what-the-hex-dark.png");
}

#banner {
    width: 100%;
}

h3 {
    text-align: center;
    color: white;
    margin: 15px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameStuff {
    overflow: auto;
    width: 100%;
}

.playArea {
    margin: 30px 0px;
    text-align: center;
    background-color: #E23636;
    display: none;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
}

.btn {
    margin: 10px;
}

#correctOrIncorrect {
    color: black;
}

#restart {
    margin: 15px;
}

